<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In Page</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/auth/logout">Log Out</a></li>
      <li><a href="/auth/login">Log In</a></li>
      <li><a href="/">Home Page</a></li>
    </ul>
  </nav>
  <header>
    <h1>Log In using...</h1>
  </header>
  <main>
    <a href="/auth/google" class="google-btn">Google+</a>
  </main>
</body>
</html>